

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('account.incompletes') }}">CBL Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-item nav-link" href="{{ url_for('account.grade_report') }}">Grade Report</a>
      </li>
      {# TODO: Reactivate manual sync, but make it kick off a Dagster job #}
      {# <li class="nav-item active">
        <a class="nav-item nav-link" href="{{ url_for('account.manual_sync') }}">Manual Grade Sync</a>
      </li> #}
      
    </ul>
    <span class="navbar-text mr-3">
      <a id="data-last-updated-tooltip" href="#" data-toggle="tooltip">
        Data last updated: <span id="data-last-updated" class="text-gray-600">Unknown</span>
      </a>
    </span>
    <span class="navbar-text">
      <a class="btn btn-secondary text-gray-100" href="{{ url_for('admin.index') }}">Admin Console</a>
    </span>
  </div>
</nav>

<script src="{{ url_for('static', filename='js/data_last_updated.js')}}"></script>
<script>
  $(document).ready(function() {
    let record_created_at = "{{ record.created_at }}";
    update_data_last_updated(record_created_at);
  });
</script>